.search-container {
  margin-top: 54px;
  margin-right: 100px;
  margin-bottom: 73px;
  margin-left: 90px;
}

.search-form {
  height: 204px;
  padding-top: 66px;
  padding-left: 94px;
  background: #E6F7FF;
  border-radius: 16px;
}

.search-form-button {
  margin: 0;
}

.search-subtitle {
  font-size: 38px;
  line-height: 46px;
  color: #262626;
  margin-top: 0;
  margin-bottom: 12px;
}

.form-control {
  width: 170px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  background-image: url(core/assets/images/searchicon.png);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px 17px 8px 40px;
  transition: width 0.4s ease-in-out;
  margin-bottom: 24px;
}

.form-control:focus {
  width: 60%;
}

.search-result {
  margin-top: 54px;
  height: 337px;
  padding: 23px 23px 27px 30px;
  background: #F5F5F5;
  border-radius: 8px;
}

.search-result-row1 {
  display: flex;
  margin-top: 0;
}

.search-result-image {
  margin-right: 44px;
  margin-bottom: 17px;
}

.search-result-image2 {
  height: 280px;
  width: 284px;
}

.search-result-info {
  width: 100%;
  margin-bottom: 17px;
}

.search-result-col2-row1 {
  display: flex;
}

.search-result-col2-row2 {
  background: #FFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 11px;
  height: 247px;
}

.search-result-col2-title {
  margin-top: 0;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  color: #1890FF;
  padding-top: 8px;
  padding-left: 14px;
  margin-bottom: 19px;
}

.search-result-field {
  padding: 1px 14px 1px 14px;
  height: 22px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 8px;
}

.search-result-field-text {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #595959;
}

.search-result-field2 {
  padding: 8px 10px 8px 10px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 14px;
  margin-right: 17px;
  margin-bottom: 5px;
}

.search-result-field2-text {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}