.search-container {
  margin-top: 54px;
  margin-right: 100px;
  margin-bottom: 73px;
  margin-left: 90px;
}

.search-form {
  height: 204px;
  padding-top: 66px;
  padding-left: 94px;
  background: #E6F7FF;
  border-radius: 16px;
}

.search-form-button {
  margin: 0;
}

.search-subtitle {
  font-size: 38px;
  line-height: 46px;
  color: #262626;
  margin-top: 0;
  margin-bottom: 12px;
}

.form-control {
  width: 170px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  background-image: url(core/assets/images/searchicon.png);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 8px 17px 8px 40px;
  transition: width 0.4s ease-in-out;
  margin-bottom: 24px;
}

.form-control:focus {
  width: 60%;
}